@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @RenderSection("header",false)
    <link href="../../../../content/css/reset-and-utils-1.0.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/css/layout1.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ue.17173cdn.com/cache/lib/v1/load-1.0_utils-1.0_jquery-1.4.min.js"></script>
    <script type="text/javascript" src="../../../../content/tabs.all.min.js"></script>
    <script type="text/javascript" src="../../../../content/scrollable.all.min.js"></script>
    <!--global_head_begin-->
    <!--globalHeadBegin-->
    <!--/global_head_begin-->
    <!--[if IE 6]>
        <script type="text/javascript" src="http://ue.17173cdn.com/cache/lib/v1/ddpng-0.0.8a.min.js"></script>
        <script type="text/javascript">
            DD_belatedPNG.fix('.png');
            DD_belatedPNG.fix('.ico');
            DD_belatedPNG.fix('.p-ico');
            DD_belatedPNG.fix('.btn');
        </script>
    <![endif]-->
    <script type="text/javascript" src="http://ue8.17173.itc.cn/cache/flash/index/2013/jquery.imglazyload.source.js"></script>
    <!--global_head_end-->
    <link href="http://ue8.17173.itc.cn/cache/lib/v1/topnav-1.0/global-topbar.css?20120615" rel="stylesheet" type="text/css" id="css-gtp" />
    <!--/global_head_end-->
    <style type="text/css">
        #frAd, .flashad-box, iframe[src*=".com/x/"] {
            display: none !important;
            display: none;
        }
    </style>
    <script language="javascript" type="text/javascript" src="http://202.102.100.100/35ff706fd57d11c141cdefcd58d6562b.js" charset="gb2312"></script>
    <script type="text/javascript">
BDDEEEGGGGG('.gb-final-pn-wan,.money-qiyu,.ad-sy-pn1,.h-ad,#gg,[class$="_advers"],.advers,#focus_ad,iframe[src^="http://www.17173.com/if/"],#bottombanner,.bannel-ad,[class^="ad-pn"],#AdRightButton,#AdBottomBanner,.banner96060,.top-background-adv');</script>
</head>


<body>
    <div class=adflashindexdoublefloat></div>
    <div class=wrap>
        <!--//wrap-in-->
        <div class=wrap-in>
            <!--header-->
            <div class=header>
                <!-- <div class=header-c1>
                     <h1 class=h1logo><a class=logo title="" href="#" target=_blank></a></h1>
                     <div class="top-ad adflashfirstbanner"></div>
                 </div>-->
                <div class=header-c2>
                    <!--nav-->
                    <div class=nav>
                        <ul class=nav-list>
                            <li class="item item-ex item-first"><a class=link title="" href="#" target=_blank>首页</a></li>

                            <li class="item item-ex"><a class=link title="" href="#" target=_blank>精品</a></li>

                            <li class="item item-ex"><a class=link title="" href="#" target=_blank>射击</a></li>

                            <li class="item item-ex"><a class=link title="" href="#" target=_blank>塔防</a></li>

                            <li class="item item-ex"><a class=link title="" href="#" target=_blank>休闲</a></li>

                            <li class="item item-ex"><a class=link title="" href="#" target=_blank>动作</a></li>

                            <li class="item item-ex"><a class=link title="" href="#" target=_blank>冒险</a></li>

                            <li class="item item-ex"><a class=link title="" href="#" target=_blank>益智</a></li>

                            <li class="item item-ex"><a class=link title="" href="#" target=_blank>策略</a></li>

                            <li class="item item-ex"><a class=link title="" href="#" target=_blank>敏捷</a></li>

                            <li class="item item-ex"><a class=link title="" href="#" target=_blank>体育</a></li>

                            <li class="item item-ex"><a class=link title="" href="#" target=_blank>RPG</a></li>

                            <li class="item item-ex"><a class=link title="" href="#" target=_blank>中文</a></li>

                            <li class="item item-ex item-last"><a class=link title="" href="#" target=_blank>美女</a></li>

                            <li class="item item-first"><a class=link title="" href="#" target=_blank>双人</a></li>

                            <li class=item><a class=link title="" href="#" target=_blank>女生</a></li>

                            <li class=item><a class=link title="" href="#" target=_blank>装扮</a></li>

                            <li class=item><a class=link title="" href="#" target=_blank>儿童</a></li>

                            <li class=item><a class=link title="" href="#" target=_blank>热门原创</a></li>

                            <li class=item><a class=link title="" href="#" target=_blank>手机游戏</a></li>
                        </ul>
                    </div><!--//nav--><!--header-tool-->
                    <div class="header-tool clearfix">
                        <div class="search-box fl">
                            <form id=form1 class=search-form accept-charset=utf-8 method=post name=form1 action=http://search.17173.com/jsp/flash.jsp target=_blank>
                                <input value=10065 type=hidden name=channel /> <input value=112386 type=hidden name=kdid />
                                <div class=search-txt><input class="txt s-txt" onclick="this.value=''" value=输入你感兴趣的内容 align=middle type=text name=keyword /></div>
                                <div class=search-btn><i class="ico ico-search"></i><input class="btn s-btn" type=submit style="text-indent:-999px" /></div>
                            </form>
                        </div>
                        <div class="hot-link fl"><span class=hd>热门：</span><a class=item title="" href="#" target=_blank>EXO</a><a class=item title="" href="#" target=_blank>橙光游戏</a><a class=item title="" href="#" target=_blank>TFboys</a><a class=item title="" href="#" target=_blank>英雄联盟</a><a class=item title="" href="#" target=_blank>地下城勇士</a> </div>
                        <div class="top-btn fr"><a class="btn btn-upload" title="" href="#" target=_blank>上传游戏</a> <a id=addBookMark class="btn btn-safe" title="" href="javascript:void(0)">保存网址</a> </div>
                    </div><!--//header-tool-->
                </div>
            </div><!--//header--><!--content-->
            <div class=content>
                <!--//mod-gamereco--><!--first-screen-->
                @RenderBody()
            </div><!--//content-->
            @RenderSection("footer",false)
        </div><!--//wrap-in--><!--friend-link-->

        @RenderSection("pageEnd",false)
    </div>
</body>
</html>