.ng-hidea {
    position: fixed;
    width: 0;
    height: 0;
    top: -1px;
    left: 300px;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    transition-property: all;
    transition-timing-function: ease;
    display: none;
    width:auto;
    height: auto;
    padding-right:10px;
}

.ng-show {
    position: fixed;
    left: 1%;
    top: 60px;
    width: 98%;
    height: 100%;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    transition-property: all;
    transition-timing-function: ease;
}

.navbar-nav li {
    cursor: pointer;
}

.tag {
    width: 100%;
    height: 100%;
    border: 5px solid dashed;
    position: relative;
    top: 9.7px;
    opacity: 0.7;
    background-color: black;
    color: white;
    padding-right:10px;
}

    .tag em {
        display: block;
        border-width: 9px;
        position: absolute;
        top: -17.3px;
        left: 100px;
        border-style: dashed dashed solid;
        border-color: transparent transparent #428bcb;
        font-size: 0;
        line-height: 0;
    }

    .tag button {
        font-family: "tahoma", "宋体"; /*www.52css.com*/
        font-size: 11pt;
        color: white;
        border: 0px #93bee2 solid;
        border-bottom: #93bee2 1px solid;
        border-left: #93bee2 1px solid;
        border-right: #93bee2 1px solid;
        border-top: #93bee2 1px solid;
         /*background-image:url(../images/blue_button_bg.gif);*/
        background-color: #428bcb;
        cursor: hand;
        font-style: normal;
        padding:10px;
        margin:10px 0px 10px 10px;
    }
