
@{
    ViewBag.Title = "Index";
}


<script src="~/Scripts/Iva.js"></script>
<figcaption class="video-playing">
    <div data-video-url="http://localhost:100/dh_rachel_richey_bw121014_480p_1000.mp4" class="video-player-content">
        <video src="http://localhost:100/dh_rachel_richey_bw121014_480p_1000.mp4" autoplay="" controls="controls" webkit-playsinline="" loop="loop" poster="http://7xr9m4.com1.z0.glb.clouddn.com/%40%2Fcheats%2Fimages2%2Fimage2.jpg?imageMogr2/thumbnail/640x360!">
        </video>
    </div>
</figcaption>
