@using www.flymsg.com.UrlHelper
<div class="top">
    <div class="top1">
        <div class="nav">
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">建议</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="dl">
            <a href="#">登录</a>
            <a href="#">注册</a>
        </div>
        <div class="clear"></div>
    </div>
</div>